.flash_notice, .flash_alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.flash_notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.flash_alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
} 

.new{
  margin-left: 20px;
  margin-bottom: 20px;
}

.caret{
  color: white;
}

.dropdown-menu {
  background-color: transparent;
  border-width: 2px;
  border-color: white;
}

.navbar-default .navbar-nav .dropdown-menu > .open > a, .navbar-default .navbar-nav .dropdown-menu > .open > a:hover, .navbar-default .navbar-nav .dropdown-menu > .open > a:focus {
    background-color: #e7e7e7;
    color: #555;
}

.dropdown-menu > .open > a{
    background-color: #e7e7e7;
    color: #555;
}

.fa-times{
  color: red;
}

.fa-check-circle-o{
  color: green;
} 

.caption {
  font-style: italic;
  font-size: 20px;
  text-align: center;
}

.my-button {
  /* 1 */
  -webkit-appearance: none;
  /* 2 */
  margin: 0;
  /* 3 */
  border: none;
  /* 4 */
  overflow: visible;
  /* 5 */
  font: inherit;
  color: #444;
  /* 6 */
  text-transform: none;
  /* 7 */
  display: inline-block;
  box-sizing: border-box;
  padding: 0 12px;
  background: #eee;
  vertical-align: middle;
  /* 8 */
  line-height: 30px;
  /* 9 */
  min-height: 30px;
  /* 10 */
  font-size: 1rem;
  /* 11 */
  text-decoration: none;
  text-align: center;
  margin-bottom: 10px;
}
.my-button:not(:disabled) {
  cursor: pointer;
}
/*
 * Modifier: `uk-button-success`
 */
.my-button-success {
  background-color: #8cc14c;
  color: #fff;
}
/* Hover */
.my-button-success:hover,
.my-button-success:focus {
  background-color: #8ec73b;
  color: #fff;
}
/* Active */
.my-button-success:active,
.my-button-success.my-active {
  background-color: #72ae41;
  color: #fff;
}